name: Release
on:
  push:
    tags: ['v*']
jobs:
  publish:
    uses: unbounded-tech/github-actions/.github/workflows/crossplane-publish.yaml@main
    with:
      package-name: helm-sonarqube
      registry: ghcr.io/hops-ops
      tag: ${{ github.ref_name }}
    secrets: inherit
